.backgroundMask {
  /* 确保容器大小足够包含文本 */
  /* background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  ); */
  -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%),
    linear-gradient(to right, black 50%, transparent 100%);
  mask-image: linear-gradient(to left, black 50%, transparent 100%),
    linear-gradient(to right, black 50%, transparent 100%);
  /* -webkit-backdrop-filter: blur(100px); */
  /* backdrop-filter: blur(100px); */
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}
